<section id="resume" class="block-wrap">
  <h3 class="main-title"><span>Resume</span></h3>
  <div class="box-group">
    <ul class="d-flex list-unstyled">
      <li class="resume-pane resume-pane-active">
        <div class="tutor-education-item">
          <div class="tutor-education-item-column">2012 — 2014</div>
          <div class="tutor-education-item-column">
            <p class="font-weight-bold">Northeastern University</p>
            <p>Master Of Business Administration (MBA)</p>
            <span class="check-mark-wrap">
              <app-icon-check-mark></app-icon-check-mark>
              Diploma verified
            </span>
          </div>
        </div>
        <div class="tutor-education-item">
          <div class="tutor-education-item-column">2012 — 2014</div>
          <div class="tutor-education-item-column">
            <p class="font-weight-bold">Northeastern University</p>
            <p>Master Of Business Administration (MBA)</p>
            <span class="check-mark-wrap">
              <app-icon-check-mark></app-icon-check-mark>
              Diploma verified
            </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>