<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 form__wrapper">
        <div class="form__container">
          <div class="form__headerWrapper">
            <h2 class="form__title">Log in</h2>
            <p>
              <a href="/signup"
                >Sign up as a student</a
              >
              or
              <a href="/signup-tutor">Sign up as a tutor</a>
            </p>
          </div>
          <form id="login_form" class="form__wrap mt-3" (submit)="onSubmit()">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Your email" [(ngModel)]="email" name="email">

            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Your password" [(ngModel)]="password" name="password">

            </div>
            <div class="form-group">
              <p class="forgot__password">
                <a href="/en/forgot_pass">Forgot your password?</a>
              </p>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="remember_me"
                checked
              />
              <label class="form-check-label" for="remember_me"
                >Remember me</label
              >
            </div>
            <button type="submit" class="btn btn-primary mt-3 submit__btn" >
              Log in
            </button>
          </form>
          <div class="mb-2 text-danger">{{errorMessage}}</div>
          <div class="form__footerWrapper">
            <p class="text-center">
              By clicking Log in or Continue with, you agree to Preply
              <a
                href="https://termsofuse.preply.com/terms_of_use/en_TermsOfService.pdf"
                rel="noreferrer noopener"
                target="_blank"
                >Terms of Use</a
              >
              and
              <a
                href="https://termsofuse.preply.com/terms_of_use/en_PrivacyPolicy.pdf"
                rel="noreferrer noopener"
                target="_blank"
                >Privacy Policy</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  