<!-- Sidebar-->
<div class="border-end bg-white ctm-sidebar" id="sidebar-wrapper">
  <div class="sidebar-heading border-bottom bg-dark text-white">pReply Dashboard</div>
  <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action list-group-item-light sidebar-sub-menu-wrapper" href="/admin">
        <span><i class="fa fa-home" aria-hidden="true"></i></span>
       Dashboard</a>
      <a class="list-group-item list-group-item-action list-group-item-light  sidebar-sub-menu-wrapper" href="/admin">
        <span><i class="fa fa-file"></i></span>
        Students</a>
      <a class="list-group-item list-group-item-action list-group-item-light  sidebar-sub-menu-wrapper" href="/admin/teacher">

        <span><i class="fa-solid fa-user-group"></i></span>
        Teachers</a>
      <a class="list-group-item list-group-item-action list-group-item-light  sidebar-sub-menu-wrapper" href="/admin/booking">
        <span><i class="fa-solid fa-grip-lines-vertical"></i></span>
        Booking List</a>
        <a class="list-group-item list-group-item-action list-group-item-light  sidebar-sub-menu-wrapper" href="/admin/booking/transaction">
          <span><i class="fa-solid fa-grip-lines-vertical"></i></span>
          Transaction</a>
  </div>
</div>
