.styles_QuickResponseIcon__DzEKn {
    height: 10px;
}
.styles_MoreInfoItemIcon__i_W9E {
    align-items: center;
    display: flex;
    flex: 16px 0;
    font-weight: 400;
    justify-content: center;
    margin-right: 8px;
}